.formCenter {
	padding: 50px;
	border-radius: 40px;
	background-color: #94badd;
}
.formCenterAdmin{
	padding: 50px;
	border-radius: 40px;
	background-color: #d96e6e;
}

.formField {
	margin-bottom: 40px;
	color: black;
}

.formFieldLabel {
	display: block;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #000000;
}
.formFieldInput {
	width: 85%;
	background-color: transparent;
	border: none;
	color: #ffffff;
	outline: none;
	border-bottom: 1px solid #445366;
	font-size: 1em;
	font-weight: 300;
	padding-bottom: 10px;
	margin-top: 10px;
}

.formFieldInput::placeholder {
	color: #616e7f;
}

.formFieldButton {
	background-color: #111827;
	color: #22c55e;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 70px;
	font-size: 1em;
	font-weight: 500;
}

.formFieldLink {
	color: #66707d;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1.5px solid #111827;
	padding-bottom: 5px;
	margin: 10px;
}

.formFieldCheckboxLabel {
	color: #646f7d;
	font-size: 0.9em;
}

.formFieldCheckbox {
	position: relative;
	top: 1.5px;
}

.formFieldTermsLink {
	color: #0c5c29;
	border-bottom: 1px solid #111827;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 2px;
	margin-left: 5px;
}
.App {
	height: 100vh;
	display: flex;
	color: #22c55e;
}

.appAside {
	width: 50%;
	background-color: #111827;
}

.appForm {
	width: 50%;
	background-color: #f1dbdb;
	padding: 25px 40px;
	overflow: auto;
}

.pageSwitcher {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10%;
}

.pageSwitcherItem {
	background-color: #40434e;
	color: #9da6b1;
	padding: 10px 25px;
	cursor: pointer;
	font-size: 0.9em;
	border: none;
	outline: none;
	display: inline-block;
	text-decoration: none;
}

.pageSwitcherItem:first-child {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.pageSwitcherItem:last-child {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.formTitle {
	color: #707c8b;
	font-weight: 300;
	margin-bottom: 50px;
}

.formTitleLink {
	color: #707c8b;
	text-decoration: none;
	display: inline-block;
	font-size: 1.7em;
	margin: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}


.formTitleLink:first-child {
	margin-left: 0;
}
